<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Homepage</title>
</head>
<style>
body{
    font-family:Microsoft JhengHei;
}
.home{
    font-size:28px;
    text-align:center;
}
.products{
    border :2px solid;
    border-color:teal;
    margin-top:15px;
    margin-bottom:20%;
    border-radius:10px;
    width:90%;
    margin-left:20px;
}
img{
    float:left;
}
a.five:link {
    color:#ff0000;text-decoration:none;
}
a.five:visited {
    color:#0000ff;text-decoration:none;
}
a.five:hover {
    text-decoration:underline;
    color:#EE00EE;
}

</style>
<body>
<p class="home">Homepage</p>
<div style = "border :1px solid; border-color:teal;"></div>
<p style="font-size:19px; padding-left:20px;">
    <a href="/login" style="margin-left:85%" class="five">Login</a>
    <a href="/signup" style="margin-left:4%" class="five">Signup</a>
</p>
<p style="font-size:28px; padding-left:20px;">Product List :
<div>
    <font style="padding-left:8%; font-size:21px">Laptops:</font>
    <div style = "border :1px solid; border-color:grey; width:80%; margin-left:9%"></div>
    <img src="{{pic}}" style="width:250px;height:250px;margin-right:15px">
    <font style="font-size:20px;">
        <a href="/error" class="five">
2020 Apple MacBook Pro (13.3-inch/33.78 cm, 8GB RAM, 256GB SSD, 1.4GHz Quad-core 8th-Generation Intel Core i5 Processor, Two Thunderbolt 3 Ports) - Space Grey
        </a>
        <br><br>Price : ₹ 1,17,900.00
    </font>
    <p style="margin-top:15%;">
        <div style = "border :1px solid; border-color:grey; width:80%; margin-left:9%"></div>
    <img src="{{pic1}}" style="width:250px;height:250px;margin-right:15px;">
        <font style="font-size:20px;">
            <a href="/error" class="five">
HP 15 (2021) Thin & Light 11th Gen Core i3 Laptop, 8 GB RAM, 1TB HDD, 15.6-inch (39.62 cms) FHD Screen, Windows 10, MS Office
            </a>
            <br><br>Price :	₹ 45,999.00
        </font>
    </p>
    <p style="margin-top:15%;">
        <div style = "border :1px solid; border-color:grey; width:80%; margin-left:9%"></div>
    <img src="{{pic2}}" style="width:250px;height:250px;margin-right:15px">
        <font style="font-size:20px;">
            <a href="/error" class="five">
Dell Inspiron 3505 15.6" FHD Display Laptop (R5-3450U / 8GB / 1TB + 256Gb SSD / Vega Graphics / Win 10 + MSO / Soft Mint Color) D560432WIN9S
            </a>
            <br><br>Price: ₹ 40,979.00
        </font>
    </p>
    <p style="margin-top:15%;">
        <div style = "border :1px solid; border-color:grey; width:80%; margin-left:9%"></div>
    <img src="{{pic3}}" style="width:250px;height:250px;margin-right:15px">
        <font style="font-size:20px;">
            <a href="/error" class="five">
ASUS ZenBook 14 (2020) Intel Core i5-1135G7 11th Gen 14-inch (35.56 cms) FHD T&L Laptop (8GB RAM/512GB NVMe SSD/Windows 10/MS Office 2019/Intel Iris Xᵉ Graphics/Pine Grey/1.17 kg), UX425EA-BM501TS
            </a>
            <br><br>Price :	₹ 98,990.00
        </font>
    </p>
</div>
</p>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
